/* Custom CSS File */.container--outer {
	margin: 0px auto;
	box-shadow: 0 0 0px rgba(23, 88, 172, 0.329);
}


body {
	margin: 0;
	font-family: "Iowan Old Style", "Book Antiqua", "Palatino Linotype", Palatino, "URW Palladio L", "Georgia", "Times New Roman", serif;;
	font-size: 16px; 
	line-height: 1.4;
	word-wrap: break-word;
	background: #f7f7f7;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 28px;
	font-size: 1.8rem;
}



.wrapper {
	padding: 20px;
	background: #fff;
}

.primary {
	-webkit-flex: 1 0 75%;
	flex: 1 0 75%;
	-webkit-order: 1;
	order: 1;
	min-width: 0;
}
.sidebar {
	-webkit-flex: 1 0 25%;
	flex: 1 0 25%;
	-webkit-order: 2;
	order: 2;
	min-width: 0;
	margin: 0 0 0 2.5%;
}

/* Button */

.btn:hover {
	color: #fff;
	background: #0185C1;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 20px;
	margin: 0 0 1.25rem;
	font-weight: 700;
	line-height: 1.3;
	color: #000;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;

}

a {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #0185C1;
}

/* Header */
.header {
	background: #0185C1;
	color: #FEEF4D;
}

.logo__title {
	font-size: 28px;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1;
	color: #FEEF4D;
}

.logo__tagline {
	display: inline-block;
	padding-top: 10px;
	margin-top: 10px;
	font-size: 14px;
	font-size: .875rem;
	font-weight: 700;
	line-height: 1;
	color: #FEEF4D;
	border-top: 1px solid #FEEF4D;
}

.logo {
	padding: 10px;
    padding-bottom: 0px;
}

.logo--mixed .logo__img {
	max-width: 100px;
	max-height: 100px;
}

/* Main menu */
/* TODO This is now redundant, as I'm using the Highway css styling below to support submenus*/
/* The only issue is that the menu does not stay highlighted when the page is selected (focus?) */
.no-js .menu__btn {
	display: none;
}

.menu__btn {
	display: block;
	width: 100%;
	padding: 0;
	font: inherit;
	color: #fff;
	background: #0185C1;
	border: 0;
	outline: 0;
}

.menu__btn-title {
	position: relative;
	display: block;
	padding: 10px 10px;
	padding: .625rem .9375rem;
	font-weight: 700;
	text-align: right;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

:focus > .menu__btn-title {
	box-shadow: inset 0 0 1px 3px #999;
}

button:not(:-moz-focusring):focus > .menu__btn-title {
	box-shadow: none;
}

.menu__btn:focus,
.menu__btn-title:focus {
	outline: 0;
}

.js .menu__btn--active {
	color: #999;
}

.menu__list {
	list-style: none;
	background: #0185C1;
}

.menu__item:hover {
	background: #999;
}

.menu__item:first-child {
	border: 0;
}

.menu__item--active {
	background: #999;
}

.menu__link {
	display: block;
	padding: 10px 15px;
	padding: .625rem .9375rem;
	font-weight: 700;
	line-height: 1.0;
	color: #fff;
	text-transform: uppercase;
}

.menu__link:hover {
	color: #fff;
}

.js .menu__list {
	position: absolute;
	z-index: 1;
	width: 100%;
	visibility: hidden;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: top left;
	transform-origin: top left;
}

.js .menu__list--active {
	visibility: visible;
	border-top: 1px solid rgba(255, 255, 255, .1);
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.menu__list--transition {
	transition: visibility .15s ease, transform .15s ease, -webkit-transform .15s ease;
}

@media screen and (min-width: 767px) {
	.menu {
		border-bottom: 3px solid #FEEF4D;
		border-top: 2px solid #FEEF4D;
	}

	.menu__btn {
		display: none;
	}

	.menu__list,
	.js .menu__list {
		position: relative;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		visibility: visible;
		border: 0;
		-webkit-transform: none;
		transform: none;
	}

	.menu__item {
		border-left: 1px solid rgba(255, 255, 255, .1);
		line-height: 1.0;
	}
}
/* Enf of old main menu */

/* Footer */
.footer {
	padding: 5px 25px;
	font-size: 12px;
	font-size: .75rem;
	color: #FEEF4D;
	background: #0185C1;
	border-top: 3px solid #999;
}

/* Social widget */
.widget-social__item {
	display: inline-block;
	padding: 0;
	border: 0;
}

.widget-social__link {
	display: inline-block;
	margin: 0 4px 8px 0;
	white-space: normal;
}

.widget-social__link-icon {
	margin: 0 5px 0 0;
	vertical-align: middle;
	fill: #fff;
}

.widget-social__link-button {
	margin: 0 5px 0 0;
	vertical-align: middle;
}

/* Social Share Buttons */

.social-share {
	position: relative;
	top: -0.5em;
}
 
.social-share ul {
	margin: 0;
}
 
.social-share ul li p {
	display: none;
}
 
.social-share .share-btn {
	padding: 0.25em;
	width: 3em;
}
 
.social-share-nav .share-btn h3{
	color: #ffffff;
}

ul.share-icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
	margin-top: 1em;
}

ul.share-icons li {
	display: inline-block;
	margin: 0px 5px 10px 0px;
}

ul.share-icons li:last-child {
	padding-right: 0;
}

ul.share-icons li > * {
	text-decoration: none;
	border: 0;
}

ul.share-icons li > *:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

ul.share-icons li > * .label {
	display: none;
}
 
.share-btn {
	display: inline-block;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
	outline: none;
	text-align: center;
	text-decoration: none;
}
 
.share-btn:hover {
	color: #ffffff !important;
}

.share-btn:active {
	position: relative;
	top: 2px;
	box-shadow: none;
	color: #e2e2e2;
	outline: none;
}
.share-btn .widget-social__link-icon {
	margin: 0;
}
 
.share-btn.twitter     { background: #55acee; }
.share-btn.google-plus { background: #dd4b39; }
.share-btn.facebook    { background: #3B5998; }
.share-btn.linkedin    { background: #4875B4; }
.share-btn.stumbleupon { background: #EB4823; }
.share-btn.pinterest   { background: #BD081C; }
.share-btn.reddit      { background: #ff5700; }
.share-btn.email       { background: #444444; }
.share-btn.gmail       { background: #F0F0EC; }
.share-btn.whatsapp    { background: #25d366; }
.share-btn.github      { background: #211F1F; }
.share-btn.home        { background: #ebc334; }
.share-btn.strava      { background: #f09433; }

.share-btn.instagram   { background: #f09433; background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
	}

.share-btn.twitter:hover     { background: #4c9ad6; }
.share-btn.google-plus:hover { background: #c64333; }
.share-btn.facebook:hover    { background: #2f4779; }
.share-btn.linkedin:hover    { background: #4069a2; }
.share-btn.stumbleupon:hover { background: #d3401f; }
.share-btn.pinterest:hover   { background: #AD0000; }
.share-btn.reddit:hover      { background: #e54e00; }
.share-btn.email:hover       { background: #363636; }
.share-btn.strava:hover      { background: #4c9ad6; }

/* Thumbnail Styling */
/*
.post__thumbnail {
	max-width: 48px;
	margin: 0 0 20px;
	margin-bottom: 0 0 1.25rem;
}
*/
.post__thumbnail {
	float: left;
	height: 100px;
	max-width: 100px;
	margin-right: 10px;
}

.post__thumbnail img {
	width: 100%;
	max-width: 100px;
}

.list__thumbnail {
    float: left;
	max-width: 80px;
	margin: 0 20px 0 0;
}

.list__thumbnail img {
	width: 100%;
	max-width: 80px;
}

/* Posts/Pages */
.post__header,
.main__header {
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
	border-bottom: 1px solid #dadada;
}

/* Math Blocks */
.mathBlock {
	text-align: center;
}

/* My attempt at positioning images */
.right {
	float:right;
	max-width: 40%;
	margin-left: 5px;
}

.left {
	float:left;
	max-width: 40%;
	margin-right: 20px;
}

.center {
	display: block;
	margin: auto;
	text-align: center;
}

/* HIGHWAY THEME DROPDOWN Main menu */
.no-js .menu__btn {
	display: none;
  }
  
  .menu__btn {
	display: block;
	width: 100%;
	padding: 0;
	font: inherit;
	color: #fff;
	background: #0185C1;
	border: 0;
	outline: 0;
  }
  
  .menu__btn-title {
	position: relative;
	display: block;
	padding: 10px 15px;
	padding: 0.625rem 0.9375rem;
	font-weight: 700;
	text-align: right;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
  }
  
  :focus > .menu__btn-title {
	box-shadow: inset 0 0 1px 3px #999;
  }
  
  button:not(:-moz-focusring):focus > .menu__btn-title {
	box-shadow: none;
  }
  
  .menu__btn:focus,
  .menu__btn-title:focus {
	outline: 0;
  }
  
  .js .menu__btn--active {
	color: #999;
  }
  
  .menu__list,
  .submenu__list {
	list-style: none;
	background: #0185C1;
  }
  
  .menu__item:hover {
	background: #999;
  }

  
  .menu__item:first-child {
	border: 0;
  }
  
  .menu__item--active {
	background: #999;
  }
  
  .menu__link {
	display: block;
	padding: 10px 15px;
	padding: 0.625rem 0.9375rem;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
  }
  
  .menu__list .menu__item .submenu__list {
	background: #0185C1;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	max-width: 15rem;
	transition: all 0.5s ease;
	border-top: 5px solid #FEEF4D;
	display: none;
  }
  
  .menu__item.menu__dropdown input[type="checkbox"] {
	display: none;
  }
  
  .menu__list .menu__item:hover > .submenu__list,
  .menu__list .menu__item:focus-within > .submenu__list,
  .menu__list .menu__item .submenu__list:hover,
  .menu__list .menu__item .submenu__list:focus {
	visibility: visible;
	opacity: 1;
	display: block;
  }
  
  .menu__link:hover {
	color: #fff;
  }
  
  .js .menu__list {
	position: absolute;
	z-index: 1;
	width: 100%;
	visibility: hidden;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: top left;
	transform-origin: top left;
  }
  
  .js .menu__list--active {
	visibility: visible;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
  }
  
  .menu__list--transition {
	transition: visibility 0.15s ease, transform 0.15s ease,
	  -webkit-transform 0.15s ease;
  }
  
  @media screen and (min-width: 767px) {
	.menu {
		border-bottom: 3px solid #FEEF4D;
		border-top: 2px solid #FEEF4D;
	}
  
	.menu__btn {
	  display: none;
	}
  
	.menu__list,
	.js .menu__list {
	  position: relative;
	  display: -webkit-flex;
	  display: flex;
	  -webkit-flex-wrap: wrap;
	  flex-wrap: wrap;
	  visibility: visible;
	  border: 0;
	  -webkit-transform: none;
	  transform: none;
	}
  
	.menu__item {
	  border-left: 1px solid rgba(255, 255, 255, 0.1);
	}
  }
  
  @media screen and (max-width: 767px) {
	.menu__item.menu__dropdown .drop-icon {
	  position: absolute;
	  right: 1rem;
	  top: auto;
	}
  
	.menu__item.menu__dropdown input[type="checkbox"] + .submenu__list {
	  display: none;
	}
  
	.menu__item.menu__dropdown input[type="checkbox"]:checked + .submenu__list {
	  border: none;
	  padding-left: 20px;
	  visibility: visible;
	  opacity: 1;
	  display: block;
	  position: relative;
	  max-width: 100%;
	}
  }
  
  @media screen and (max-width: 620px) {
	.menu__item.menu__dropdown .drop-icon {
	  position: absolute;
	  right: 1rem;
	  top: auto;
	}
  
	.menu__item.menu__dropdown input[type="checkbox"] + .submenu__list {
	  display: none;
	}
  
	.menu__item.menu__dropdown input[type="checkbox"]:checked + .submenu__list {
	  border: none;
	  padding-left: 20px;
	  visibility: visible;
	  opacity: 1;
	  display: block;
	  position: relative;
	  max-width: 100%;
	}
  }
