/* Custom CSS File */ 

/* Header */
.header {
	background: #0185C1;
	color: #FEEF4D;
}

.logo__title {
	font-size: 28px;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1;
	color: #FEEF4D;
}

.logo {
	padding: 18px;
}

/* Footer */
.footer {
	padding: 10px 25px;
	font-size: 12px;
	font-size: .75rem;
	color: #FEEF4D;
	background: #0185C1;
	border-top: 3px solid #FEEF4D;
}
