/* Custom CSS File */ 
{{- $highlightColor := .Site.Params.style.vars.highlightColor | default (.Site.Params.highlightColor | default "#e22d30") -}}

{{- $fontSans := `"Open Sans", Helvetica, Arial, sans-serif` -}}
{{- $fontSerif := `"Iowan Old Style", "Book Antiqua", "Palatino Linotype", Palatino, "URW Palladio L", "Georgia", "Times New Roman", serif;` -}}
{{- $fontMono := `SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace` -}}
{{- $fontFamilyPrimary := .Site.Params.style.vars.fontFamilyPrimary | default $fontSans -}}
{{- $fontFamilySecondary := .Site.Params.style.vars.fontFamilySecondary | default $fontMono -}}
{{- $fontFamilySerif := .Site.Params.style.vars.fontFamilySerif | default $fontSerif -}}
{{- $fontFamilySans := .Site.Params.style.vars.fontFamilySans | default $fontSans -}}
{{- $fontFamilySans := .Site.Params.style.vars.fontFamilySans | default $fontSans -}}
{{- $fontFamilyMono := .Site.Params.style.vars.fontFamilyMono | default $fontMono -}}


/* FONT HELPERS */
%font-sans {
    font-family: -apple-system, 
                 BlinkMacSystemFont, 
                 "Segoe UI", 
                 Helvetica, 
                 Arial, 
                 sans-serif, 
                 "Apple Color Emoji", 
                 "Segoe UI Emoji", 
                 "Segoe UI Symbol"; 
}

// serif system font stacks are hard to find; slightly modified this one from
// https://www.client9.com/css-system-font-stack-serif-medium-v1/
%font-serif {
    font-family: "Iowan Old Style", 
                 "Book Antiqua", 
                 "Palatino Linotype", 
                 Palatino, 
                 "URW Palladio L", 
                 "Georgia", 
                 "Times New Roman", 
                 serif;
}

// monospace system font stack via github
%font-mono {
    font-family: "SFMono-Regular", 
                 Consolas, 
                 "Liberation Mono", 
                 Menlo, 
                 Courier, 
                 monospace;
}

/* Header */
.header {
	background: #0185C1;
	color: #FEEF4D;
}

.logo__title {
	font-size: 28px;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1;
	color: #FEEF4D;
}

.logo {
	padding: 18px;
}

/* Footer */
.footer {
	padding: 10px 25px;
	font-size: 12px;
	font-size: .75rem;
	color: #FEEF4D;
	background: #0185C1;
	border-top: 3px solid #FEEF4D;
}

